.about-heading{
    font-size: 36px;
    font-weight: bold;
}

.about-us-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    
}



.about-paragraph{
    width: 50rem;

}

.paragraph{
    text-align: left;
    
}

.about-explore{
    font-size: 26px;
    font-weight: bold;  
}