@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;800&family=Chivo+Mono&family=Kaushan+Script&family=Open+Sans:wght@800&family=Roboto:wght@700&display=swap');


body{
    background-color: #9FA8DA;
}

.banner-img{
    border-radius: 15px;
}

.banner-div{
    margin-top: 10%;
    display: flex;
    gap: 2%;
    justify-content: center;
    align-items: center;
}

.brand-line{
    font-size: 48px;
    font-weight: bolder;
    text-align: left;
}