.nav-container{
    height: 10vh;
    width: 100%;
    background-color: #3F51B5;
}



ul{
    list-style-type: none;
    font-weight: 600;
    left: 10rem;

}

li{
    display: inline-block;
    margin-right: 1%;
    margin-top: 2%;
    cursor: pointer;
 
}

.brand-tags{
    position: absolute
}



