.service-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;

}

.service-heading{
    font-size: 26px;
    font-weight: bolder;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

